.home {
    height: 800px;
    background: url("../../assets/home.png");
    .vtri {
        background: none;
        position: absolute;
        top: 40%;
        left: 50%;
    }   
    .cuuho {
        background: none;
        position: absolute;
        top: 20%;
        left: 10%;
        
    }
}